<h2 class='person-name'>
  Bookis Worthy
  <small class='lead'>CTO & Co-Founder</small>
</h2>

<p>
  I started writing code 10 years ago. Since then, I have used that skill to work thousands of contract hours, work at a couple of awesome companies, start a couple of businesses, as well as become a core member and lead instructor of Ada Developers Academy.
</p>

<p>
  I started learning programming in my spare time back in 2006, I had no prior education, programming was my entrance to the higher-than-minimum-wage world. Within a few years I was working contract gigs. I used my newly learned skills with my entrepreneurial spirit to start Luna Sandals with two others, through our technological approach we grew the company to now sell tens of thousands pairs in nearly every country in the world.
</p>

<div class='qa'>
  <div class="q">Dream Job:</div>
  <div class="a">
    N/A - Currently living the dream
  </div>
</div>
<div class='qa'>
  <div class="q">Favorite Cartoon Character:</div>
  <div class="a">
    Kronk from The Emperor's New Groove
  </div>
</div>
<div class='qa'>
  <div class="q">Hobbies:</div>
  <div class="a">
    Amateur astronomy, being friends with a 2 year old, and eating.
  </div>
</div>

<a href="http://twitter.com/bookis"><i class='fa fa-twitter fa-2x'></i></a>
<a href="http://www.linkedin.com/in/bookis"><i class='fa fa-linkedin fa-2x'></i></a>
<a href="https://github.com/bookis"><i class='fa fa-github fa-2x'></i></a>
<a href="http://www.bookisworthy.com/"><i class='fa fa-globe fa-2x'></i></a>
