<h2 class='person-name'>
  Chris Hintz
  <small class='lead'>Web Developer</small>
</h2>

<p>
  Graduated from Emory University in Atlanta, GA with an Accounting and Finance degree.  Worked 5 years in Denver and San Jose with PricewaterhouseCoopers as a public accountant and then as a mergers and acquisitions consultant to technology companies in Silicon Valley.  Over my 5 years with PwC I got the opportunity working with companies in the energy, mining, real estate, logistics and technology industries.
</p>
<p>
  After seeing the exciting problems and challenges being taken on by the technology industry from the finance and accounting side, I knew I had to be on this side of the business helping create the future instead of auditing the past.
</p>
<p>
  I was born and raised in Seattle, WA before living in Atlanta, Boston, Denver and San Jose before returning home in 2014.
</p>

<div class='qa'>
  <div class="q">Dream Job:</div>
  <div class="a">
    Many. One would be providing low and middle income families with honest, quality, and affordable financial planning advice using technology
  </div>
</div>
<div class='qa'>
  <div class="q">Favorite Cartoon Character:</div>
  <div class="a">
    Wall-E
  </div>
</div>
<div class='qa'>
  <div class="q">Hobbies:</div>
  <div class="a">
    Cheering on the Mariners, Seahawks and Huskies, geeking out on sabermetrics, and bikinghiking/backpacking around the northwest with my girlfriend and dog.
  </div>
</div>

<a href="www.linkedin.com/in/chris-hintz-70943b36"><i class='fa fa-linkedin fa-2x'></i></a>
<a href="https://github.com/chrishintz"><i class='fa fa-github fa-2x'></i></a>
<a href="www.chrishintz.org"><i class='fa fa-globe fa-2x'></i></a>
