<h2 class='person-name'>
  Daniel Adler
  <small class='lead'>Web Developer</small>
</h2>

<p>
  I’m originally from California, but have lived in the Pacific Northwest for ten years.
</p>

<p>
  In college I lived in Taiwan and Mainland China. Some people say learning programming is like learning another language – so did my past study of Mandarin help me prepare for Code Builders? Honestly, I feel like each subject stretches my brain in very different ways. But they do share in common the necessity of working extremely hard, practicing relentlessly, and being OK with messing up.
</p>

<p>
  Before joining Code Builders I worked in education, from a variety of perspectives and roles: middle school world history teacher, educational nonprofit executive support, and school district budget analyst. In all of these experiences I saw how organizations striving to serve the public can be held back by inefficient and outdated technologies. I’m excited to be a programmer because I feel like I finally have the skills to craft the tools I always wanted. Also, it’s super fun!
</p>
<div class='qa'>
  <div class="q">Dream Job:</div>
  <div class="a">
    My dream is to design technology that simplifies and optimizes everyday processes in normal folks’ lives. Planning meals and cooking healthy food, responsible family budgeting, preparing for emergencies, organizing family events…I want to make it so that when we organize our lives, we are starting from something better than a blank spreadsheet.
  </div>
</div>
<div class='qa'>
  <div class="q">Favorite Cartoon Character:</div>
  <div class="a">
    Hobbes!
  </div>
</div>
<div class='qa'>
  <div class="q">Hobbies:</div>
  <div class="a">
    Cooking, cycling, cats, nerding out on the NBA. Next hobby goal: learn how to make pottery!
  </div>
</div>

<a href="https://www.linkedin.com/in/daniel-adler-a45a5913"><i class='fa fa-linkedin fa-2x'></i></a>
<a href="https://github.com/danieladler"><i class='fa fa-github fa-2x'></i></a>
<a href="http://dadler.codes"><i class='fa fa-globe fa-2x'></i></a>
