<h2 class='person-name'>
  Evelyn Bell
  <small class='lead'>Web Developer</small>
</h2>

<p>
  I graduated from the University of Washington with a degree in Law, Societies, and Justice.  I continued my learning with a Certificate in Paralegal Studies and subsequently became a family law paralegal.
</p>

<p>
  Outside of the office, I enjoy being active, whether it’s through sports, hiking, or trying something new.  Everyday is an adventure.  This translates into the software development realm as each day poses a new challenge and requires unique ways of thinking.  I am excited to continue down this career path and thrive in this dynamic and developing field.
</p>

<div class='qa'>
  <div class="q">Bucket List:</div>
  <div class="a">
    visit all 7 continents, see the aurora borealis, climb Mt. Rainier
  </div>
</div>
<div class='qa'>
  <div class="q">Favorite Cartoon Character:</div>
  <div class="a">
    Spongebob Squarepants
  </div>
</div>
<div class='qa'>
  <div class="q">Hobbies:</div>
  <div class="a">
    swimming, hiking, scuba diving
  </div>
</div>

<a href="https://www.linkedin.com/in/evelyn-bell-085868a1"><i class='fa fa-linkedin fa-2x'></i></a>
<a href="https://github.com/xbell"><i class='fa fa-github fa-2x'></i></a>
<a href="http://www.evelyn-bell.com"><i class='fa fa-globe fa-2x'></i></a>
