<div class='row call-to-action-wrapper'>
  <div class='container'>
    <h1 class='call'>Building Full-Stack Web Apps</h1>
    <p class='copy lead'>
      We can materialize your vision or product revamp for a fraction of the cost of traditional software consultancies. Whether it's a new start-up idea, an internal tool, or an upgrade to existing software, Code Builders is a cost effective and collaborative development partner.
    </p>
    <a href="mailto:hire@code.builders">
      <h2 class='hire-us button'>Hire Us</h2>
    </a>
  </div>
</div>
<div class="row about-wrapper">
  <div class='container'>
    <div class='columns'>
      <img src="/images/stack.png" />
      <span>Full stack web development</span>
    </div>
    <div class='columns'>
      <img src="/images/phone.png" />
      <span>for all devices</span>
    </div>
    <div class='columns'>
      <img src="/images/agile.png" />
      using agile workflows.
    </div>
  </div>
</div>


<div class="row build-wrapper">
  <h2 class='header'>Our Team</h2>
  <div class='people container'>
    <% [:chris, :leshoya, :evelyn, :daniel, :tammy, :karen].shuffle.each do |n| %>
      <%= erb :person, locals: {person: n} %>
    <% end %>
  </div>
</div>

<div class='row clients-wrapper'>
  <div class='container'>
    <div>
      <a href="http://lightintheattic.net"><img src="/images/lita.png" /></a>
    </div>
    <div>
      <a href="http://amazon.com"><img src="/images/amazon.png" /></a>
    </div>
    <div>
      <a href="http://lunasandals.com"><img src="/images/luna.png" /></a>
    </div>
  </div>
</div>
<div class='background-wrap'></div>
