<div class='row call-to-action-wrapper'>
  <div class='container'>
    <h1 class='call'>Building Full-Stack Web Apps</h1>
    <p class='copy'>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <a href="mailto:hire@code.builders">
      <h2 class='hire-us button'>Hire Us</h2>
    </a>
  </div>
</div>
<div class="row about-wrapper">
  <div class='container'>
    <div class='columns'>
      <img src="/images/stack.png" />
      Full stack web development
    </div>
    <div class='columns'>
      <img src="/images/phone.png" />
      For all devices
    </div>
    <div class='columns'>
      <img src="/images/agile.png" />
      Using agile workflows
    </div>
  </div>
</div>

<div class='row blurb-wrapper'>
  <div class='container'>
    <h2 class='copy'>
      This is not about revenge. This is about justice. Well, I'll say this for him - he's sure of himself. Yes, absolutely!
    </h2>
  </div>
</div>


<div class="row build-wrapper">
  <div class='container'>
    <div class="loud">
      <h2>Who we are</h2>
    </div>
    <div class="what-we-do">
      <p>
        Could someone <strong>survive inside a transporter</strong> buffer for 75 years? Well, I'll say this for him - he's sure of himself. Congratulations - you just destroyed the Enterprise. The game's not big enough unless it <strong>scares you a little</strong>. Maybe if we felt any human loss as keenly as we feel one of those close to us, human history would be far less bloody.
      </p>
       <p>
         The Enterprise computer system is controlled by three primary main processor cores, cross-linked with a redundant melacortz ramistat, fourteen kiloquad interface modules. Sure. <strong>You'd be surprised</strong> how far a hug goes with Geordi, or Worf.
       </p>
       <a href="#" class='button button-block'>Get in touch with our team</a>
    </div>
  </div>
</div>

<div class='row clients-wrapper'>
  <div class='container'>
    <div>
      <img src="/images/lita.png" />
    </div>
    <div>
      <img src="/images/amazon.png" />
    </div>
    <div>
      <img src="/images/luna.png" />
    </div>
  </div>
</div>

<div class="row footer-wrapper">
  <div class='container'>
    <div class='legal'>
      © Code Builders 2015
    </div>
    <div class='social'>
      <a href="https://twitter.com/code_builders"><i class='fa fa-twitter fa-lg'></i></a>
      <a href="https://github.com/code-builders"><i class='fa fa-github fa-lg'></i></a>
    </div>
  </div>
</div>
