<div class='row call-to-action-wrapper'>
  <div class='container'>
    <h1 class='call'>Building Full-Stack Web Apps</h1>
    <p class='copy lead'>
      We can materialize your vision or product revamp for a fraction of the cost of traditional software consultancies. Whether it's a new start-up idea, an internal tool, or an upgrade to existing software, Code Builders is a cost effective and collaborative development partner.
    </p>
    <a href="mailto:hire@code.builders">
      <h2 class='hire-us button'>Hire Us</h2>
    </a>
  </div>
</div>
<div class="row about-wrapper">
  <div class='container'>
    <div class='columns'>
      <img src="/images/stack.png" />
      <span>Full stack web development</span>
    </div>
    <div class='columns'>
      <img src="/images/phone.png" />
      <span>for all devices</span>
    </div>
    <div class='columns'>
      <img src="/images/agile.png" />
      using agile workflows.
    </div>
  </div>
</div>


<div class="row build-wrapper">
  <div class='container'>
    <div class="loud">
      <h2>Who we are</h2>
    </div>
    <div class="what-we-do lead">
      <p>
        Code Builders is made up of developers of all skill ranges and many of our developers are trained in house. Our approach means you’re assured the team is on the same page; we're all versed in latest technologies and common agile workflows and communication strategies. All of us have diverse backgrounds in additional fields other than software such as business, law, finance, and other sciences.
      </p>
       <p>
         Our diverse team offers well-rounded solutions inspired by a large breadth of combined experiences. As some members of our team are entry-level, we are able to offer development rates at far below any other local modern software development shop.
       </p>
       <a href="mailto:hire@code.builders" class='button button-block'>Get in touch with our team</a>
    </div>
  </div>
</div>

<div class='row clients-wrapper'>
  <div class='container'>
    <div>
      <a href="http://lightintheattic.net"><img src="/images/lita.png" /></a>
    </div>
    <div>
      <a href="http://amazon.com"><img src="/images/amazon.png" /></a>
    </div>
    <div>
      <a href="http://lunasandals.com"><img src="/images/luna.png" /></a>
    </div>
  </div>
</div>
