<div class='row call-to-action-wrapper'>
  <div class='container'>
    <h1 class='call'>
      Software Development Consultancy 
    </h1>
    <p class='copy lead'>
      <span>Full-stack web apps at a fraction of the cost.</span>
      Whether it's a new start-up idea, an internal product revamp, or an upgrade to existing software, Code Builders is a cost effective, collaborative and quality development partner based in Seattle.
    </p>
    <a href="mailto:hire@code.builders">
      <h2 class='hire-us button'>Hire Us</h2>
    </a>
  </div>
</div>
<div class='bulletin on'>
  <a href="http://www.geekwire.com/2016/new-coding-school-code-builders-trains-students-longer-and-employs-them-in-its-own-software-consultancy/" class='content'>
    <span>Check us out on </span>
    <img src="/images/geekwire-logo.png" />
  </a>
</div>
<div class="row our-process-wrapper">
  <div class="container">
    <div class="our-process">
      <h3>Our Philosophy</h3>
      <p>
        We know it’s hard to find software developers. And it’s especially difficult to find skilled junior developers that don’t require heavy on-boarding, on-going training and day-to-day management. This is one of the reasons we started Code Builders, to offer companies a smart way to hire high-quality software developers at a fraction of the cost you’d typically pay. We also offer flexible terms via contract work.
      </p>

      <p>
        All of our junior developers are managed by our senior developers so you don’t have to spend extra resources on project oversight. This model is a win-win: You get quality, cost-effective development work and our junior developers the reallife experience they need to become highly-skilled and successful developers.
      </p>
      <a href="mailto:hire@code.builders">
        <div class='button'>Contact us to learn more</div>
      </a>

    </div>
  </div>
</div>

<div class="row about-wrapper">
  <div class='container'>
    <div class='columns'>
      <img src="/images/stack.png" />
      <span>Full stack web development</span>
    </div>
    <div class='columns'>
      <img src="/images/phone.png" />
      <span>for all devices</span>
    </div>
    <div class='columns'>
      <img src="/images/agile.png" />
      using agile workflows.
    </div>
  </div>
</div>


<div class="row build-wrapper">
  <div class='container'>
    <div class='staff'>
      <div class='bio-text lead'>
        <h2 class='header'>Meet Our Developers </h2>
        <p>
          All of our developers are trained in the latest technologies, common agile workflows and communication strategies. We’re well-versed in ruby, rails, javascript, html, css and more.
        </p>
        <p>
          Our junior developers have completed the first six months of classroom instruction, where they learn the technologies needed to successfully program, deploy, and maintain web applications. All of our junior developers are accompanied by senior developers on all projects.
        </p>
        <p>
          Our senior developers have a combined 10 years of experience.
        </p>
      </div>
      <%= erb :staff, locals: {person: :bookis} %>
    </div>
    <div class="people">
      <% [:chris, :leshoya, :evelyn, :daniel, :tammy, :karen].shuffle.each do |n| %>
      <%= erb :person, locals: {person: n} %>
      <% end %>
    </div>
  </div>
</div>

<div class='row clients-wrapper'>
  <h2>Some of our customers</h2>
  <div class='container'>
    <div class='clients'>
      <div>
        <a href="http://blueskybridal.com"><img src="/images/blue-sky.png" /></a>
      </div>
      <div>
        <a href="http://lightintheattic.net"><img src="/images/lita.png" /></a>
      </div>
      <div>
        <a href="http://amazon.com"><img src="/images/amazon.png" /></a>
      </div>
      <div>
        <a href="http://lunasandals.com"><img src="/images/luna.png" /></a>
      </div>
    </div>
  </div>
</div>
<div class='background-wrap'></div>
