<h2>Karen Hambro</h2>

<p>
  Originally from Vermont, transplanting to Portland, OR at age 18, then transplanting even farther to Barcelona, Spain for 4 years, I eventually landed in Seattle 8 years ago and am ever so happy I did.
</p>

<p>
  I earned my master's degree in public policy while living in Barcelona, and have worked in healthcare and non-profit management for many years, most recently as the Sponsorship & Engagement Manager at Ada Developers Academy. I was drawn to Ada through my own interest in programming, and having helped over 40 Ada graduates transition into software careers, I decided it was time to start my own adventures in software development!
</p>

<p>
  When not in class, I run my own pet care business Yappy Trails. There are so many great tools out there that help me run my small business, and I look forward to building more tools that will help people (and pets!) live more fulfilling, productive lives.
</p>
