<h2 class='person-name'>
  Karen Hambro
  <small class='lead'>Web Developer</small>
</h2>

<p>
  Originally from Vermont, transplanting to Portland, OR at age 18, then transplanting even farther to Barcelona, Spain for 4 years, I eventually landed in Seattle 8 years ago and am ever so happy I did.
</p>

<p>
  I earned my master's degree in public policy while living in Barcelona, and have worked in healthcare and non-profit management for many years, most recently as the Sponsorship & Engagement Manager at Ada Developers Academy. I was drawn to Ada through my own interest in programming, and having helped over 40 Ada graduates transition into software careers, I decided it was time to start my own adventures in software development!
</p>

<p>
  When not in class, I run my own pet care business Yappy Trails. There are so many great tools out there that help me run my small business, and I look forward to building more tools that will help people (and pets!) live more fulfilling, productive lives.
</p>
<div class='qa'>
  <div class="q">Dream Job:</div>
  <div class="a">
    That's a tough one to narrow down... I like too many things! Access to healthcare and increasing health outcomes have always been passions of mine. Also, dogs. I love dogs. Rover is a great Seattle based app connecting pet owners with pet sitters- I would love to work on the tool they've created.
  </div>
</div>
<div class='qa'>
  <div class="q">Favorite Cartoon Character:</div>
  <div class="a">
    Pepé Le Pew and Comic Book Guy from the Simpsons.
  </div>
</div>
<div class='qa'>
  <div class="q">Hobbies:</div>
  <div class="a">
    Dogs, long walks, delicious food, and karaoke.
  </div>
</div>

<a href="http://twitter.com/khambro"><i class='fa fa-twitter fa-2x'></i></a>
<a href="https://www.linkedin.com/in/karen-hambro-34994ba"><i class='fa fa-linkedin fa-2x'></i></a>
<a href="https://github.com/khambro"><i class='fa fa-github fa-2x'></i></a>
<a href="http://www.karenhambro.com/"><i class='fa fa-globe fa-2x'></i></a>
