<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Code.Builders | Dev Shop</title>
    <link rel="stylesheet" href="/css/app.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body>
    <header>
      <div class='container'>
        <div class='logo'>
          <a href="/" class='brand'><i class='atomic-number fa fa-cog fa-spin'></i>Cb</a>
        </div>
        <nav>
          <ul>
            <li><a href='#'><span class='button'>Hire Us</span></a></li>
          </ul>
        </nav>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
