<h2 class='person-name'>
  LeShoya Starkey
  <small class='lead'>Web Developer</small>
</h2>

<p>
  I was a Business Development Representative for Silverpop, an IBM Company. I have been involved in Tech sales and research roles for over 7 years and wanted to get in the trenches and create great web experiences. My topics of interest include micro-personalization, UI Development, and the ways development and design can affect revenue and customer engagement. I am originally from Moultrie, Georgia and have been a resident of Atlanta and Washington D.C. I am excited to call Seattle my new home and can’t wait to see what the city has to offer!
</p>
<div class='qa'>
  <div class="q">Dream Job:</div>
  <div class="a">
    I have worked for a variety of companies, from startups to Fortune 500 companies so I am flexible in this regard and I understand the requirements for both types of companies. However, I would love to work for a company involved with B2C ecommerce.
  </div>
</div>
<div class='qa'>
  <div class="q">Favorite Cartoon Character:</div>
  <div class="a">
    Tina Belcher from Bob’s Burgers
  </div>
</div>
<div class='qa'>
  <div class="q">Hobbies:</div>
  <div class="a">
    Cooking, Eating and Drinking at “unique” locales, Discovering New Music, Swimming, Reading, Travel
  </div>
</div>

<a href="https://www.linkedin.com/in/olstarkey"><i class='fa fa-linkedin fa-2x'></i></a>
<a href="https://github.com/GaBison2007"><i class='fa fa-github fa-2x'></i></a>
<a href="http://www.shoyacodes.com/"><i class='fa fa-globe fa-2x'></i></a>
