<h2 class='person-name'>
  Tammy Pop
  <small class='lead'>Web Developer</small>

</h2>
<p>
  After graduating with an Economics/Accounting degree, I pursued a career in accounting. Over a period of four years I found myself working on challenging problems in several industries: medicine, construction, and real estate investment.
</p>

<p>
  Some people close to me would say that dancing was my second career. I have been growing my character through dance since I was six years old. I used to teach, perform in shows, and compete. Dancing continues to be part of my life, as Seattle has a vibrant dance community.
</p>

<p>
  My past experience has boosted my web development skills, giving me a unique perspective on the industry.
</p>
<div class='qa'>
  <div class="q">Dream Job:</div>
  <div class="a">
    working somewhere surrounded by smart and compassionate people
  </div>
</div>
<div class='qa'>
  <div class="q">Favorite Cartoon Character:</div>
  <div class="a">
    Po from Kung Fu Panda
  </div>
</div>
<div class='qa'>
  <div class="q">Hobbies:</div>
  <div class="a">
    Yoga, painting, growing plants.
  </div>
</div>

<a href="https://www.linkedin.com/in/tammy-pop-7aaabb25"><i class='fa fa-linkedin fa-2x'></i></a>
<a href="https://github.com/smurfik"><i class='fa fa-github fa-2x'></i></a>
<a href="http://www.tammypop.com/"><i class='fa fa-globe fa-2x'></i></a>
