header {
  background-color: $primary;
  border-bottom: 2px solid $primary-dark;
  @include media($mobile) {
    padding: 0 5px;
  }
}

nav {
  float: right;
  font-size: 18px;

  ul {
    list-style: none;
    margin: 0;
  }

  ul li {
    display: inline-block;
    padding: 0;
  }
  a {
    text-align: center;
    display: inline-block;
    width: 130px;
    height: $header-height;
    line-height: $header-height;
    color: white;
    &.tall-link:hover {
      background-color: $primary-dark;
    }
    &.button {
      height: 50px;
      line-height: 25px;
      width: 180px;
      padding: 10px 30px;
    }

    @include media($mobile) {
      font-size: 12px;
      width: 80px;
      height: 90px;
      line-height: 85px;
      &.button {
        display: none;
      }
    }

  }
}

.logo {
  @include span-columns(2);
  margin: 20px 0;
}
.logo a {
  color: white;
  border: 4px solid white;
  border-radius: 3px;
  height: 100px;
  width: 103px;
  padding: 10px;
  display: inline-block;
  background-color: $primary;
  font-size: 42pt;
  line-height: 72px;
  font-weight: bold;
  position: relative;
  @include media($mobile) {
    border: 2px solid white;
    height: 50px;
    width: 52px;
    padding: 6px;
    font-size: 20pt;
    line-height: 35px;
  }

  &:hover {
    background-color: $primary-dark;
  }
}
.logo a .atomic-number {
  font-size: 12px;
  position: absolute;
  top: 5px;
  left: 5px;
  @include media($mobile) {
    font-size: 8px;
    top: 3px;
    left: 3px;
  }
}
