header {
  background-color: $primary;
  border-bottom: 2px solid $primary-dark;
}

nav {
  float: right;
  font-size: 18px;
  ul {
    list-style: none;
    margin: 0;
  }

  ul li {
    display: inline-block;
    padding: 0;
  }
  a {
    text-align: center;
    display: inline-block;
    width: 130px;
    height: 140px;
    line-height: 140px;
    color: white;
    .button {
      height: 50px;
      padding: 10px 30px;
    }
  }
}

.logo {
  @include span-columns(2);
  margin: 20px 0;
}
.logo a {
  color: white;
  border: 4px solid white;
  border-radius: 3px;
  height: 100px;
  width: 103px;
  padding: 10px;
  display: inline-block;
  background-color: $primary;
  font-size: 42pt;
  line-height: 72px;
  font-weight: bold;
  position: relative;
  &:hover {
    background-color: $primary-dark;
  }
}
.logo a .atomic-number {
  font-size: 12px;
  position: absolute;
  top: 5px;
  left: 5px;
}
