.person {
  position: relative;
  padding: 20px;
  text-align: center;
  overflow: visible;
  color: $red;
  font-weight: bold;
  @include media($desktop) {
    @include span-columns(4);
    @include omega(3n);
  }
  @include media($tablet) {
    @include span-columns(6);
    @include omega(2n);
  }
  @include media($mobile) {
    @include span-columns(12);
    @include omega();
  }
  .sidebar {
    color: lighten($primary, 10%);
    .title {
      font-weight: normal;
    }
  }
  img {
    width: 100%;
    border-radius: 100%;
    margin-bottom: 10px;
    border: 3px solid $primary-dark;
  }
  &:hover {
    .title,
    .name {
      color: $white;
    }
    img {
      border: 3px solid $red;
    }
  }
}
.bubble-copy {
  h2 {
    color: white;
  }
  p {
    font-weight: normal;
    color: white;
    font-size: 12px;
  }
}

.background-wrap {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
}

.person {
  cursor: pointer;
  .person-info {
    display: none;
  }
  .name,
  .title {
    color: $white;
  }
  .title {
    font-family: $serif-font;
    font-size: 14px;
  }
}
.person.active {
  z-index: 1000;
  height: 100vh;
  overflow-y: scroll;
  position: fixed;
  left: 0px;
  top: 0px;
  cursor: default;
  @include span-columns(12);
  img, &:hover img {
    border: none;
  }
  .close-background {
    position: fixed;
    top: 10px;
    right: 10px;
    @include media($mobile) {
    }
  }
  .sidebar {
    color: $red;
    @include span-columns(3);
    @include media($mobile) {
      @include span-columns(6);
      @include shift(3);
    }
    .name,
    .title {
      display: none;
    }

  }
  .person-name {
    font-size: 48px;
    border-bottom: 1px solid gray;
    line-height: 1;
    @include media($mobile) {
      small {
        display: block;
        margin-bottom: 10px;
      }
    }
  }
  .person-info {
    font-weight: normal;
    text-align: left;
    @include span-columns(8);
    @include media($mobile) {
      @include span-columns(12);
    }
    p {
      text-align: justify;
      color: $light-gray;
    }

    .qa {
      margin: 20px 0;
      .q {
        font-size: 22px;
        font-weight: bold;
      }
      .a {
        text-align: justify;
        color: $light-gray;
      }
    }
    a i {
      display: inline-block;
      margin: 0 5px;
    }
  }
}

.staff {
  .header {
    @include span-columns(12);
    border-bottom: 1px solid white;
    margin-bottom: 25px;
    padding-bottom: 10px;
    font-weight: 100;
  }
  .bio-text {
    @include span-columns(8);
    @include media($tablet) {
      @include span-columns(10);
      @include shift(1);
    }
  }
  .person {
    @include media($desktop) {
      @include span-columns(4);
    }
    @include media($tablet) {
      @include span-columns(6);
      @include shift(3);
    }
    @include media($mobile) {
      @include span-columns(12);
      @include shift(0);
    }
    &.active {
      @include span-columns(12);
      @include shift(0);
    }
  }
}
